$text-color:#152B7B;
$content-color:#314661;
$light-text-color:#398CB9;
$link-color:#000;
$link-color-hover:#fff;

$base-font-size: 16px;
$base-line-height: 24px;
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600');
// $font-style："微軟正黑體", 'Arial', Sans Serif;
